<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <img class="logo" src="../../../assets/Images/agil.png" alt="AdminLTE Logo" (click)="toggleCollapsed()" />
        <div class="logo-text" *ngIf="collapsed">AGIL</div>
        <button class="btn-close" (click)="closeSidenav()" *ngIf="collapsed">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of menu">
            <a class="sidenav-nav-link" (click)="handleClick(item)" *ngIf="item.children && item.children.length > 0">
                <i class="sidenav-link-icon" [class]="item.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{item.name}}</span>
                <i *ngIf="item.children && collapsed" class="menu-collapse-icon"
                    [ngClass]="!item.expanded ? 'fal fa-angle-right' :'fal fa-angle-down'"></i>
            </a>
            <a class="sidenav-nav-link" *ngIf="!item.children || (item.children && item.children.length === 0)"
                [routerLink]="item.path" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="sidenav-link-icon" [class]="item.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{item.name}}</span>
            </a>
            <div *ngIf="collapsed && item.children && item.children.length > 0">
                <app-sublevel-menu [menu]="item" [collapsed]="collapsed" [multiple]="multiple"
                    [expanded]="item.expanded"></app-sublevel-menu>
            </div>
        </li>
    </ul>
</div>