.title{
    margin: 0.625rem;
}

.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
}


.button{
    margin: 5px;
}

.dialog-container{
    overflow-y: hidden;
    .btn-container{
        text-align: right;
        margin-right: 0.625rem;
    }
}