<div class="login_form_container">
    <div class="login_form">
        <img src="assets/demo/images/login/Agil_Logo.gif" class="mb-5 w-6rem flex-shrink-0">
        <h2>Welcome to AGIL</h2>
        <p class="text-600 font-medium">Sign in to continue</p>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
            <div class="text-center mb-5">
                <div class="text-900 text-3xl font-medium mb-3">Welcome to AGIL</div>
                <span class="text-600 font-medium">Sign in to continue</span>
            </div>

            <div>
                <label for="Email" class="block text-900 text-xl font-medium mb-2">Email</label>
                <input type="email" placeholder="Email" formControlName="email" class="w-full md:w-30rem mb-5"
                    style="padding: 1rem">
                <div *ngIf="loginForm.get('email')?.hasError('required')">
                    Email is required!
                </div>
                <div *ngIf="loginForm.get('email')?.hasError('email')">
                    Please enter a valid email address!
                </div>
            </div>

            <div>
                <label for="PasswordHash" class="block text-900 text-xl font-medium mb-2">Password</label>
                <p-password placeholder="Password" formControlName="password" [toggleMask]="true" styleClass="mb-5"
                    inputStyleClass="w-full p-3 md:w-30rem"></p-password>
                <div *ngIf="loginForm.get('password')?.hasError('required')">
                    Password is required!
                </div>
            </div>

            <div style="text-align: center;">
                <button style="background-color: black; color: white;" class="w-full p-3 text-xl" pButton pRipple
                    label="Sign In"></button>


            </div>
        </form>

    </div>
</div>