<div class="parent">
    <div class="login_form_container">
        <div class="login_form">
            <!-- <img src="../../../assets/agil.png" class="mb-5 w-6rem flex-shrink-0"> -->
            <h2>Welcome to AGIL</h2>
            <p class="text-600 font-medium text-center">Sign in to continue</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input-group mb-3">
                    <input formControlName="email" type="email" class="form-control" placeholder="Email" />
                </div>
                <div class="input-group mb-3">
                    <input formControlName="password" type="password" class="form-control" placeholder="Password" />
                </div>
                <div style="text-align: center;">
                    <button style="background-color: rgb(185 238 33); color: white;" class="w-full p-3 text-xl"
                        label="Sign In">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>